* {
    box-sizing: border-box;
}
/* Color Palette
whitesmoke  - section baclground
black - text/letter color
#D1D4C9 - main background 
#3887BE - header and footer
*/

/* Global styles 
------------------------------------*/
body {
    background: whitesmoke;
    margin: 0;
    padding-top: 60px;
}
.content-wrap{
    margin: 0 auto;
    max-width: 950px;
    padding: 50px;
    overflow: hidden;
}
.column-narrow {
    width: 30%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
}

.column-wide {
    width: 70%;
    float: left;
    min-height: 225px;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: whitesmoke;
    text-align: center;
    
}
nav a{
    padding: 15px;
    display: inline-block;
    color: black;
    font-size: 25px;
}

.contact-info i{
    font-size: 1.5em;
}

/* Header & Footer 
------------------------------------*/
header{
     background: linear-gradient(
        rgba(41, 67, 92, 0.8),
        rgba(41, 67, 92, 0.8)
    ), url(../images/Central-LA-1.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

header h1, header h2 {
    margin: 0;
}
.profile-img{
    /*width: 300px;
    float: left;
    margin-right: 30px;*/
    border-radius: 50%;
}
footer{
    background: #29435C;
    text-align: center;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}

h1, h2, h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}
h1{
    font-size: 48px;
}
h2{ 
    font-size: 34px;
    
}
/* Work Experience
------------------------------------*/

.work{
    background: #3887BE;
}

/* Education
------------------------------------*/
.education{
    background: #D1D4C9;
}
